a {
  color: black;
  text-decoration: none;
}

div {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contactpage {
  display: flex;
  align-items: center;
  justify-content: center;
}

#winebottle {
  width: 100px;
  margin-left: 50px;
}

h3 {
  font-family: "Amatic SC", sans-serif;
}
